@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
        text-align: left;
    }

    li{
        display: inline-block;
        padding: 5px 40px;
    }

    main{
        width: 768;
    }
}